body, html {
    background: lighten($base-color-grey, 65%);
    font-size: $base-font-size;
    font-family: $font-family;
    color: $base-color-black;
}

a:hover, a:active, a:focus {
    text-decoration: none;
    color: $blue !important;
}

.menu {
    margin: 0;
    padding: 0;
}

.main-content {
    padding: 15px 0 40px;
}

.content-box {
    background: #FFFFFF;
    overflow: hidden;
}

.purple-button {
    background: $teal;
    color: #FFFFFF;
    font-weight: bold;
    font-size: $tiny-font-size;
    line-height: 1;
    text-transform: uppercase;
    padding: 14px 65px 12px;
    border-radius: 4px;
    border: 1px solid darken($teal, 5%);

    &:hover, &:active, &:focus {
        background: lighten($teal, 3%);
        color: #FFFFFF;
        border: 1px solid darken($teal, 5%);
    }
}

.up {
    position: relative;

    a {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: url('../images/main/arrow_up.png') no-repeat center center;
        background-color: $blue;
        position: absolute;
        right: 0;
        bottom: 50px;
        transition: background-color .5s ease;

        &:hover {
            background-color: darken($blue, 10%);
        }
    }
}
