@media screen and (max-width: $screen-md-max) {
    .search {
        width: 225px !important;
    }
}

@media screen and (max-width: $screen-sm-max) {
    header {
        .top ul li img {
            width: 14px;
        }

        .title h3 {
            font-size: $small-font-size;
        }

        .contacts {
            font-size: $tiny-font-size;
        }

        .search form input {
            margin-top: 6px !important;
        }

        .hamburger {
            display: block !important;
            float: left;
        }

        .main {
            display: none;
        }

        .bottom .search form:after {
            top: 34% !important;
        }
    }
}

@media screen and (max-width: $screen-xs-max) {
    .main-content {
        padding-top: 0;
    }

    .contacts {
        float: right !important;
        width: 170px !important;

        li {
            border: none !important;
            display: block !important;
            float: none !important;
        }
    }

    .menu.footer {
        li {
            float: none;
            display: block;

            a {
                padding: 5px 0;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .jcarousel {
        display: none;
    }

    .slider-box {
        display: none;
    }
}
