/* Colors */
$base-color-white: #FFFFFF;
$base-color-black: #000000;
$base-color-grey: #474747;

$teal: #0e7177;
$blue: #00aaee;

/* Fonts */
$font-family: 'Roboto', Arial, Helvetica, sans-serif !important;

$base-font-size: 16px;
$small-font-size: $base-font-size - 2;
$tiny-font-size: $small-font-size - 2;
$big-font-size: $base-font-size + 2;
$large-font-size: $big-font-size + 2;
