.articles {
    .item {
        margin-bottom: 15px;

        .image-container {
            padding-left: 0;
        }

        h3 {
            margin-top: 5px;

            a {
                color: $base-color-grey;
            }
        }

        span {
            font-size: $small-font-size;
        }

        .down {
            margin-top: 20px;

            span {
                float: left;
                left: 0;
            }

            a {
                float: right;
                right: 0;
                color: $teal;
            }
        }
    }
}
