.contacts {
    padding: 15px 55px;

    h4 {
        font-weight: bold;
    }

    .item {
        margin-bottom: 12px;
    }

    .social {
        margin: 35px 0;
    }

    .ya-share2__badge {
        border-radius: 20px;

        .ya-share2__icon {
            height: 35px;
            width: 35px;
            background-size: 35px;
        }

        .ya-share2__counter {
            padding-top: 11px;
        }
    }

    form {
        padding: 0 15px;

        label {
            color: $base-color-grey;
            text-transform: uppercase;
            font-size: $small-font-size;
        }
    }
}
