.gallery {
    .item {
        margin-bottom: 15px;
        position: relative;

        .caption {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 20px;
            background: $blue;
            opacity: 0.85;
            color: #FFFFFF;
            display: none;
        }

        &:hover .caption {
            display: block;
        }
    }
}

.album {
    .content-box {
        padding: 5px 25px 20px;
        margin-bottom: 15px;
    }

    .item {
        margin: 0 0 15px;
        position: relative;
        overflow: hidden;
        height: 190px;

        a:before {
            content: "";
            display: block;
            background: $teal url('../images/main/zoom.svg') no-repeat center center / 25%;
            opacity: 0;
            height: 100%;
            position: absolute;
            top: 0;
            left: 15px;
            right: 15px;
            transition: opacity .5s ease;
        }

        &:hover {
            a:before {
                opacity: 0.85;
            }
        }
    }
}

.uk-modal-dialog-lightbox > .uk-close:first-child {
    right: -45px !important;
}

.uk-close-alt {
    background: none;
    border: 1px solid $blue;
}

.uk-close:after {
    color: $blue;
}
