.lastNews {
    h3 a {
        color: $base-color-grey;
        text-transform: uppercase;
        font-size: 20px;
    }

    .item {
        padding: 15px 0;
        border-bottom: 1px solid #d9d9d9;
        border-top: 1px solid #FFFFFF;

        &:first-of-type {
            border-top: none;
            padding-top: 10px;
        }

        &:last-of-type {
            border-bottom: none;
        }

        h4 {
            margin-top: 0;

            a {
                color: $base-color-grey;
            }
        }

        .text, .date {
            font-size: $tiny-font-size;
            color: lighten($base-color-grey, 20%);
        }

        .date {
            margin-top: 10px;
            padding-left: 25px;
            background: url('../images/main/calendar.png') no-repeat left center;
        }
    }
}
