.services {
    .image-container {
        .triangle {
            color: #ffffff;
            position: absolute;
            right: 15px;
            top: 0;
            border-style: solid;
            border-width: 0 85px 85px 0;
            border-color: transparent $base-color-grey transparent transparent;
            transition: all .5s ease;



            p {
                position: relative;
                width: 0;
                height: 0;
                left: 50px;
                top: 0;
                font-size: 36px;
                margin: 0;
            }
        }
    }

    &:hover .image-container .triangle {
        border-color: transparent $blue transparent transparent;
    }

    .service-box {
        background: #FFFFFF;
        padding: 15px 22px 55px;
        margin-bottom: 15px;

        h3 {
            margin-top: 0;

            a {
                color: $base-color-grey;
            }
        }
    }

    .about {
        margin-top: 10px;
        background: $teal url('../images/main/about.jpg') repeat center center;
        color: #FFFFFF;
        text-align: center;
        padding: 15px 0;

        a {
            color: #FFFFFF;
            font-weight: bold;
        }
    }
}

.services-menu {
    padding: 35px 45px;
    background: $teal;
    color: #FFFFFF;

    h3 {
        margin-top: 0;
        margin-bottom: 25px;
        text-transform: uppercase;
        font-size: 20px;
    }

    li {
        list-style: none;
        padding-left: 25px;
        position: relative;
        background: url('../images/main/menu-controls.png') no-repeat left -17px;

        a {
            color: #FFFFFF;
        }

        ul {
            display: none;
        }

        &.active {
            background-position: -20px 3px;

            & > a {
                color: $blue;
            }

            & > ul {
                display: block;
            }
        }

        &.end {
            background: none;

            &:before {
                content: "-";
                left: 4px;
                position: absolute;
            }
        }
    }
}
