footer {
    padding: 25px 0;
    background: $base-color-grey url('/images/main/footer_triangles.jpg') repeat center center;
    font-size: $small-font-size;

    .menu {
        li {
            display: inline-block;
            float: left;

            a {
                color: #fff;
                padding: 5px 10px;
            }

            &.active a {
                color: $blue;
            }

            &:first-of-type a {
                padding-left: 0;
            }

            &:last-of-type a {
                padding-right: 0;
            }
        }
    }

    .info {
        color: lighten($base-color-grey, 20%);
        margin-top: 15px;
    }

    .social {
        margin-top: 15px;
    }
}
