header {
    color: #fff;

    .top {
        background: $base-color-white;

        .logo {
            margin-top: 15px;
        }

        .title {
            h3 {
                margin: 0;
                padding-left: 10px;
                padding-top: 15px;
                display: inline-block;

                b {
                    display: block;
                }
            }
        }

        ul {
            display: inline-block;
            padding: 25px 0;
            margin: 0;

            li {
                color: $base-color-black;
                padding: 3px 15px;
                display: inline-block;
                float: right;
                border-right: 1px solid lighten($base-color-grey, 35%);

                a {
                    color: $base-color-black;
                }

                img {
                    color: red;
                    width: 20px;
                    margin-right: 10px;
                }

                &:first-of-type {
                    border: none;
                    padding-right: 0;
                }
            }
        }
    }

    .bottom {
        background: $teal url('/images/main/nav_triangles.jpg') repeat-x center center / 35% 100%;

        .main {
            float: left;

            li {
                float: left;
                display: inline-block;
                position: relative;

                a {
                    display: inline-block;
                    padding: 30px 15px;
                    color: #fff;

                    &:after {
                        content: "";
                        position: absolute;
                        right: 0;
                        top: 38%;
                        height: 20px;
                        border-right: 1px solid $base-color-white;
                    }
                }

                &:first-of-type a {
                    padding-left: 0;
                }

                &:last-of-type  a {
                    padding-right: 0;

                    &:after {
                        border: none;
                    }
                }

                &.active:after {
                    content: "";
                    width: 100%;
                    text-align: center;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    border-bottom: 4px solid $blue;
                }
            }
        }

        .hamburger {
            display: none;
            position: relative;

            .button {
                background: url('../images/main/hamburger.svg') no-repeat center center / 100%;
                width: 35px;
                height: 65px;
                margin-left: 20px;
                display: block;
            }

            .menu {
                display: none;
                position: absolute;
                top: 0;
                left: 100px;
                padding: 15px 10px;
                background: #fff;
                z-index: 1;
                list-style: none;
                font-size: 20px;
                width: 200px;

                li a {
                    color: $base-color-grey;

                    &:hover {
                        color: $teal;
                    }
                }
            }
        }

        .search {
            padding-right: 0;

            form {
                position: relative;

                input[type="text"] {
                    padding: 15px 53px 15px 25px;
                    margin-top: 15px;
                    border: none;
                    background: #fff;
                    color: $base-color-grey;
                    width: 100%;
                }

                input[type="submit"] {
                    background: transparent url("/images/main/search.svg") no-repeat scroll 0% 0% / 25px 25px;
                    position: absolute;
                    right: 25px;
                    top: 43%;
                    width: 25px;
                    height: 25px;
                    display: block;
                    border: none;
                }
            }
        }


    }
}
