.custom-pagination {
    ul {
        display: inline-block;
        padding: 0;
        margin: 0;

        li {
            display: inline;

            * {
                float: left;
                position: relative;
                color: $base-color-grey;
                font-size: $small-font-size;
                line-height: 26px;
                margin-right: 5px;
            }

            &.active {
                * {
                    color: $blue;
                }
            }
        }
    }

    .controls {
        display: inline-block;
        margin-left: 15px;

        li {
            background: $base-color-grey;
            display: inline-block;

            * {
                margin: 0;
                padding: 4px 11px;
                color: #FFFFFF;
                line-height: 22px;
            }

            &:hover {
                background: lighten($base-color-grey, 10%);
            }
        }

        .disabled {
            cursor: not-allowed;
            background: lighten($base-color-grey, 10%);
        }
    }
}
