.jcarousel {
    margin: 15px 0;
    position: relative;
    overflow: hidden;
    width: 100%;

    ul {
        width: 20000em;
        position: relative;

        list-style: none;
        margin: 0;
        padding: 0;

        li {
            float: left;
            position: relative;
            height: 500px;

            img {
                display: block;
                max-width: 100%;
                height: auto !important;
            }
        }
    }

    .caption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        color: #FFFFFF;
        padding: 15px 40px;
        background: rgba(0, 0, 0, 0.55);
        box-sizing: border-box;

        &:before {
            border-left: 9px solid $teal;
            content: "";
            left: 0;
            top: 0;
            height: 100%;
            position: absolute;
        }

        &:after {
            content: "";
            position: absolute;
            left: 8px;
            top: 23%;
            border-style: solid;
            border-width: 13px 0 13px 12px;
            border-color: transparent transparent transparent $teal;
        }

        h4 a {
            color: $base-color-white;
        }

        span {
            color: $base-color-white;
        }
    }

    .controls {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;

        a {
            float: left;
            line-height: 36px;
            font-size: 36px;
            display: inline-block;
            padding: 0 13px;
            background: $base-color-grey;
            color: #FFFFFF;

            &:hover {
                background: #535353;
            }
        }
    }
}
